@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model User

<div class="content ">
    <div class="container80">

        <div class="body">
            <h2 class="heading">My Details</h2>
            <div class="details foot">
                <form id="edit-user-form" method="post" asp-action="EditUser" asp-controller="MyAccount">
                    <div class="form-row">
                        <label>First Name <span>*</span></label>
                        <input class="readonly" type="text" readonly="readonly" name="firstname" value="@Model.firstName">
                    </div>
                    <div class="form-row">
                        <label for="">Last Name<span>*</span></label>
                        <input class="readonly" type="text" readonly="readonly" name="lastname" value="@Model.lastName">
                    </div>
                    <div class="form-row">
                        <label for="">Gender<span>*</span></label>
                        <div class="radios">
                            @if (Model != null)
                            {
                                if (Model.Gender.Contains("Male"))
                                {
                                    <div class="block">
                                        <label asp-for="Gender" id="gender-label">Male</label>
                                        <input type="radio" asp-for="Gender" id="male" checked value="Male">
                                        <span class="tick"></span>
                                    </div>
                                    <div class="block">
                                        <label asp-for="Gender" id="gender-label">Female</label>
                                        <input type="radio" asp-for="Gender" id="female" value="Female">
                                        <span class="tick"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="block">
                                        <label asp-for="Gender" id="gender-label">Male</label>
                                        <input type="radio" asp-for="Gender" id="male" value="male">
                                        <span class="tick"></span>
                                    </div>
                                    <div class="block">
                                        <label asp-for="Gender" id="gender-label">Female</label>
                                        <input type="radio" asp-for="Gender" id="female" checked value="female">
                                        <span class="tick"></span>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="form-row">
                        <label asp-for="Email">Email<span>*</span></label>
                        <input type="email" asp-for="Email" id="" value="@Model.Email">
                    </div>
                    <div class="form-row">
                        <label asp-for="number">Mobile Number<span>*</span></label>
                        <input type="text" asp-for="number" id="" value="@Model.number">
                    </div>

                    <div class="form-row">
                        <label for="">Birth Date<span>*</span></label>
                        <input class="readonly" readonly="readonly" type="date" value="@Model.dateOfBirth">
                    </div>
                    <div class="form-row">
                        <label asp-for="Town">Town/City<span>*</span></label>
                        <input type="text" asp-for="Town" id="" value="@Model.Town">
                    </div>
                    <div class="form-row">
                        <label asp-for="Postcode">Postcode<span>*</span></label>
                        <input type="text" asp-for="Postcode" id="" value="@Model.Postcode">
                    </div>
                    <div class="contact-preferences">
                        <h2 class="heading">Contact preferences</h2>
                        <p>We'd love to keep you up to date with information about your membership, relevant offers and news from The Gym Group and will never sell your data to other companies.</p>
                        <p>But if you'd prefer not to hear from us you can opt-out by removing the tick from one or both of the boxes below.</p>
                        <div class="form-row checkbox">
                            <input type="checkbox" id="flex1" asp-for="recieveSMS"  value="true">
                            <label asp-for="recieveSMS">Contact me by SMS</label>
                        </div>
                        <div class="form-row checkbox">
                            <input type="checkbox" id="flex1" asp-for="recieveEmail" value="true">
                            <label asp-for="recieveEmail">Contact me by email</label>
                        </div>
                        <p>&nbsp;</p>
                        <p>
                            Please be aware that if you opt-out of either of the above you may miss helpful information about your membership or about your local Gym's services. If you change your mind you can come back and update your preferences
                            at any time.
                        </p>
                    </div>

                </form>
            </div>
            <button id="edit" type="submit" form="edit-user-form" class="button">Save Changes</button>
        </div>
    </div>
</div>
