
@{
    ViewData["Title"] = "Book Your Classes";
    Layout = "~/Views/Shared/ViewModelLayout.cshtml";
}
@using Crunch.ViewModels;
@model BookClassViewModel
<div class="content ">
    <div class="container80">
        <div class="header">
            <h2>Book a class</h2>
        </div>
        <div class="body">
            <div class="my-gym">
                <span class="tick-c"></span>
                <span class="gym-name">@Model.user.gym.gymLocation</span>
            </div>
            <div class="classes">
                <div class="classes-header">
                    <h4>@DateTime.Now.ToString("MMMM")</h4>
                </div>
                <div class="calendar">
                    <div class="tab-nav">
                        <ul>
                            @for (int i = 0; i < 7; i++)
                            {
                                String d = String.Concat("d", i + 1);
                                <li>
                                    <a href="#!" id="@d" class="js-toggle-day ">
                                        <span class="day">@DateTime.Today.AddDays(i).ToString("ddd")</span>
                                        <span class="date">@DateTime.Today.AddDays(i).Day</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <section>

                        @for (int i = 0; i < 7; i++)
                        {
                            String a = String.Concat("a", i + 1);

                            List<Class> classes = Model.classes.ElementAt(i);
                            String hidden = "hidden";
                            if (i == 0)
                            {
                                 hidden = "";
                            }
                            else
                            {
                                 hidden = "hidden";
                            }


                            <article id="@a" class="active @hidden">
                                <div class="class-container">
                                    @foreach (Class Aclass in classes)
                                    {
                                        string Status;
                                        <div class="class @Aclass.type ">
                                            <div class="details">
                                                <div class="time-duration">
                                                    <div class="time">@Aclass.dateTime.ToString("hh:mm tt")</div>
                                                    <div class="duration">@Aclass.duration mins</div>
                                                </div>
                                                <h5 class="class-name ">@Aclass.name</h5>

                                                @if (Aclass.space > Aclass.spaceUsed)
                                                {
                                                    Status = "Available";
                                                }
                                                else
                                                {
                                                    Status = "Full";
                                                }
                                                <p class="class-status">@Status</p>

                                                <div class="icon-container">
                                                    <i class="@Aclass.icon"></i>
                                                </div>
                                            </div>

                                            <a href="#!" class="js-change-trigger icon-plus">

                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <div class="actions js-actions hidden">
                                                <p class="class-description">
                                                    @Aclass.description
                                                </p>
                                                <a id="modalButton" class="button js-book-class">Book Now</a>

                                                <div id="myModal" class="modal">

                                                    <!-- Modal content -->
                                                    <div class="modal-content">
                                                        <span class="close">&times;</span>
                                                        <h2 class="header">Confirm</h2>
                                                        <p>Confirm joining this class?</p>
                                                        <div class="modal-buttons">
                                                            <a class="button class-yes" href="@Url.Action("BookTheClass","MemberArea",new { ClassID=Aclass.ClassID })">Yes</a>
                                                            <a id="blue" class="button">No</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="spaces">
                                                    Available spaces:
                                                    <span class="available">
                                                        @Aclass.spaceUsed/
                                                    </span>
                                                    <span class="total">
                                                        @Aclass.space
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="message hidden">

                                            </div>
                                        </div>
                                    }

                                </div>
                            </article>
                        }

                    </section>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="~/js/book-class.js "></script>

