
@{
    ViewData["Title"] = "ChangeDetails";
    Layout="~/Views/Shared/Layout2.cshtml";
}
@model User

    <section id="member-area">
        <div class="container">
            <div class="nav-pane">
                <div class="component left-navigation">
                    <a href="#!" class="nav-sub-menu-trigger title">
                        <h2>In this section</h2>
                    </a>
                    <ul class="nav-menu closed-mobile">
                        <li class="expandable ">
                            <a href="#" class="nav-sub-menu-trigger not-a-link">
                                <span>My gym</span>
                            </a>
                            <ul class="nav-sub-menu">
                                <li>
                                    <a href="/member-area/my-gym/my-gym-usage/">
                                        <span>My gym usage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-gym/refer-a-friend/">
                                        <span>Refer a friend</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-gym/average-usage-chart/">
                                        <span>Average usage chart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-gym/member-contact-us/">
                                        <span>Member contact us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-gym/fitquest-area/">
                                        <span>FitQuest Area</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="expandable ">
                            <a href="#" class="nav-sub-menu-trigger not-a-link">
                                <span>My classes and PTs</span>
                            </a>
                            <ul class="nav-sub-menu">
                                <li>
                                    <a href="/member-area/my-classes-and-pts/book-induction/">
                                        <span>Book induction</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-classes-and-pts/book-a-class/">
                                        <span>Book a class</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-classes-and-pts/my-bookings/">
                                        <span>My bookings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-classes-and-pts/personal-trainers/">
                                        <span>Personal trainers</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="expandable ">
                            <a href="#" class="nav-sub-menu-trigger not-a-link">
                                <span>My membership</span>
                            </a>
                            <ul class="nav-sub-menu">
                                <li>
                                    <a href="/member-area/my-membership/change-home-gym/">
                                        <span>Change home gym</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-membership/change-add-ons/">
                                        <span>Change add-ons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-membership/freeze-membership/">
                                        <span>Freeze membership</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-membership/cancel-membership/">
                                        <span>Cancel membership</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-membership/manage-parking/">
                                        <span>Manage parking</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-membership/membership-documents/">
                                        <span>Membership documents</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="expandable ">
                            <a href="#" class="nav-sub-menu-trigger not-a-link">
                                <span>My account</span>
                            </a>
                            <ul class="nav-sub-menu">
                                <li>
                                    <a href="/member-area/my-account/change-details/">
                                        <span>Change details</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-account/change-direct-debit/">
                                        <span>Change direct debit</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/member-area/my-account/view-payment-history/">
                                        <span>View payment history</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content ">
                <div class="container80">

                    <div class="body">
                        <h2 class="heading">My Details</h2>
                        <div class="details">
                            <div class="form-group">
                                <label for="">First name</label>
                                <span class="my-info">@Model.firstName</span>
                            </div>
                            <div class="form-group">
                                <label for="">Last name</label>
                                <span class="my-info">@Model.lastName</span>
                            </div>
                            <div class="form-group">
                                <label for="">Gender</label>
                                <span class="my-info">@Model.Gender</span>
                            </div>
                            <div class="form-group">
                                <label for="">Date of birth</label>
                                <span class="my-info">@Model.dateOfBirth</span>
                            </div>
                            <div class="form-group">
                                <label for="">Address line 1</label>
                                <span class="my-info">@Model.Adress</span>
                            </div>
                            <div class="form-group">
                                <label for="">Town/city</label>
                                <span class="my-info">@Model.Town</span>
                            </div>
                            <div class="form-group">
                                <label for="">Postcode</label>
                                <span class="my-info">@Model.Postcode</span>
                            </div>
                            <div class="form-group">
                                <label for="">Mobile number</label>
                                <span class="my-info">@Model.number</span>
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <span class="my-info">@Model.Email</span>
                            </div>
                            <div class="form-group">
                                <label for="">
                                    Receive gym SMS
                                </label>
                                <span class="my-info">@Model.recieveSMS</span>
                            </div>
                            <div class="form-group">
                                <label for="">Receive gym emails</label>
                                <span class="my-info">@Model.recieveEmail</span>
                            </div>


                        </div>

                        <a href="@Url.ActionLink("Edit","MemberArea")" id="edit" class="button">Edit Details</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

