
@{
    ViewData["Title"] = "My Bookings";
    Layout = "~/Views/Shared/ViewModelLayout.cshtml";
}

@model BookClassViewModel
<div class="content ">
    <div class="container80">
        <h2 class="heading">My Bookings</h2>
        <div class="table">
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="header">Confirm</h2>
                    <p>Are you sure you wanna cancel this class?</p>
                    <div class="modal-buttons">
                        <a class="button cancel-yes">Yes,Cancel</a>
                        <a id="blue" class="button ">No</a>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Date &amp; Time</th>
                        <th>Gym Name</th>
                        <th>Class Name</th>
                        <th id="button-row">Can't Attend?</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.classesTable.Count == 0)
                    {
                        <tr>
                            <td colspan="4">
                                No bookings made
                            </td>
                        </tr>
                    }
                    @foreach (Class aClass in Model.classesTable)
                    {
                        if (DateTime.Compare(DateTime.Now, aClass.dateTime) == 1)
                        {
                            <tr>
                                <td>@aClass.dateTime.ToString("dd MMMM yyy")</td>
                                <td>@aClass.gym.gymLocation</td>
                                <td>@aClass.name</td>
                                <td>Thanks for Joining!</td>
                            </tr>

                        }
                        else
                        {

                            <tr>
                                <td>@aClass.dateTime.ToString("dd MMMM yyy")</td>
                                <td>@aClass.gym.gymLocation</td>
                                <td>@aClass.name</td>
                                <td><a href="@Url.Action("Cancel","MemberArea",new { ClassID=aClass.ClassID })" class="cancel-anchor modalButton">Cancel</a></td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/myBookings.js"></script>

