@model IEnumerable<Crunch.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

    <div class="container mt-2">
        <h1>Admin Panel for Classes</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Date and Time
                    </th>
                    <th>
                        Space
                    </th>
                    <th>
                        Space Taken
                    </th>
                    <th>
                       Type 
                    </th>
                    <th>
                        Icon
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.space)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.spaceUsed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.icon)
                        </td>
                        <td>
                            <a   asp-action="Edit" asp-route-id="@item.ClassID">Edit</a> 
                            <a  asp-action="Details" asp-route-id="@item.ClassID">Details</a> 
                            <a class="btn btn-danger custom-delete" asp-action="Delete" asp-route-id="@item.ClassID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>