
@{
    ViewData["Title"] = Model.trainer.fullName;
    Layout = "~/Views/Shared/ViewModelLayout.cshtml";
}

@model TrainerViewModel


<div class="content ">
    <div class="container80">
        <div class="info">
            <div class="about">
                <h3 class="heading">Experience & philosophy</h3>
                <p>
                    @Model.trainer.aboutMe
                </p>
            </div>
            <div class="image">

                <img src="~/image/@Model.trainer.image" alt="trainer-image">

            </div>
        </div>
        <div class="contact-box">
            <div class="contact-info">
                <h3 class="name">@Model.trainer.title @Model.trainer.fullName</h3>
                <div class="email">
                    <i class="fas fa-envelope-square"></i>
                    <span class="email">@Model.trainer.email</span>
                </div>
            </div>
        </div>
        <div class="details">
            <h3 class="heading">Qualifications</h3>

            @{
                String[] Qualifications = Model.trainer.Qualifications.Split('|');
                String[] Specialities = Model.trainer.Speciality.Split('|');

            }
            <ul class="list">
                @foreach (String str in Qualifications)
                {
                    <li>@str</li>
                }
            </ul>
            <hr class="hr">
            <h3 class="heading">Specialist areas</h3>
            <ul class="list">
                @foreach (String str in Specialities)
                {
                    <li>@str</li>
                }
            </ul>
        </div>

    </div>
</div>

