
@{
    ViewData["Title"] = "Trainers";
}
@model AdminTrainersViewModel
    <div class="container mt-2 ">
        <!--MODAL-->


        @if (TempData["Alert"] != null)
        {


            @if (TempData["Alert"].ToString() == "New Trainer added!")
            {
                <div class="alert alert-success" role="alert">
                    <h3>@TempData["Alert"]</h3>
                </div>
            }
            else if (TempData["Alert"].ToString() == "Trainer Updated!")
            {
                <div class="alert alert-success" role="alert">
                    <h3>@TempData["Alert"]</h3>
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <h3>@TempData["Alert"]</h3>
                </div>
            }

        }
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this class?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger btn-delete-trainer">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!--FORM-->
        <h1 class="h2 pb-3 border-bottom ">Add a Trainer</h1>
        <form method="post" asp-action="AddTrainer" asp-controller="Home" asp-area="Admin">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label asp-for="trainer.fullName">Trainer Full Name</label>
                    <input type="text" class="form-control " asp-for="trainer.fullName" placeholder="Trainer Name " required>
                    <span asp-validation-for="trainer.fullName"></span>
                </div>
                <div class=" form-group col-md-6 ">
                    <label asp-for="trainer.gym">Gym Location:</label>
                    <select class="form-control " asp-for="trainer.gym.gymID" required>
                        @foreach (Gym gym in Model.gyms)
                        {
                            <option value="@gym.gymID">@gym.gymLocation</option>
                        }

                    </select>
                    <span asp-validation-for="trainer.gym"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3 ">
                    <label asp-for="trainer.title">Title</label>
                    <select class="form-control " asp-for="trainer.title">
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                    </select>
                    <span asp-validation-for="trainer.title"></span>
                </div>
                <div class="form-group col-md-3 ">
                    <p>Picture</p>
                    <input type="file" class="custom-file-input" id="customFile" asp-for="trainer.image">
                    <label class="custom-file-label" asp-for="trainer.image">Choose file</label>
                    <span asp-validation-for="trainer.image"></span>
                </div>
                <div class="form-group col-md-6 ">
                    <label asp-for="trainer.email">Email</label>
                    <input type="email" class="form-control " asp-for="trainer.email" placeholder="trainer@crunch.com ">
                    <span asp-validation-for="trainer.email"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label asp-for="trainer.Speciality">Specialties</label>
                    <input class="form-control" type="text" asp-for="trainer.Speciality" placeholder="Specialties">
                    <span asp-validation-for="trainer.Speciality"></span>
                </div>
                <div class="form-group col-md-6 ">
                    <label asp-for="trainer.Qualifications">Qualifications</label>
                    <input type="text" class="form-control " asp-for="trainer.Qualifications" placeholder="Qualifications ">
                    <span asp-validation-for="trainer.Qualifications"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="trainer.aboutMe">About Trainer</label>
                <textarea class="form-control " asp-for="trainer.aboutMe" rows="3 "></textarea>
                <span asp-validation-for="trainer.aboutMe"></span>
            </div>

            <button type="submit" class="btn btn-primary ">Add Trainer</button>
        </form>
    </div>


<div class="container mt-2 ">
    <h1 class="h2 pb-3 border-bottom ">Trainers</h1>
    <!-- The Modal -->

    <table class="table ">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gym</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Trainer trainer in Model.trainers)
            {
                <tr>
                    <th class="id" scope="row">@trainer.ID</th>
                    <td>@trainer.fullName</td>
                    <td>@trainer.gym.gymLocation</td>
                    <td>@trainer.email</td>
                    <td><a href="@Url.Action("EditTrainer","Home",new { area="Admin",trainerID=trainer.ID})"><i class="fas fa-edit "></i></a></td>
                    <td class="delete" data-toggle="modal" data-target=".modal"><i class="fas fa-trash-alt "></i></td>
                </tr>
            }

        </tbody>
    </table>



</div>

